# substreams auth file
.substreams.env

# Compiled source files
target/

# Sink data when running any sinker
sink-data/
output/
localdata/

# The spkg packed by the subtreams cli
*.spkg

#state yaml files
state.yaml